<div>
  <h2>Welcome</h2>
</div>
<div id="foodwrapper">
  <div class="card make-it-slow">
      <img class="card__image" src="https://d2d8wwwkmhfcva.cloudfront.net/250x/filters:fill(FFF,true):format(jpg)/d2lnr5mha7bycj.cloudfront.net/product-image/file/large_505e824c-32cd-41e5-96af-ce5ac393d37b.jpg" alt="">
    <div class="card__actions">
      <button class="uvote" type="">Up Vote</button>
      <button class="dvote" type="">Down Vote</button>
    </div>
    <div class="card__description">
     <p>Kirkland Signature Dry Roasted Macadamias with Sea Salt</p>
    </div>
</div>
