<div>
  <h2>Welcome</h2>
</div>
<div id="foodwrapper">
  <div class="card make-it-slow" *ngFor = "let item of items">
      <img class="card__image" src="{{item.img}}" alt="">
    <div class="card__description">
     <p>{{item.name}}</p>
    </div>
    <div class="card__actions card-social">
      <ul>
        <li><a href="#"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
        </li>
        <li class="points">50</li>
        <li><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
        </li>
      </ul>
      <!--<button class="uvote" type="">Up Vote</button>
      <button class="dvote" type="">Down Vote</button>-->
    </div>
</div>
