<md-toolbar>
  <span>Welcome Admin</span>
  <span>Balance: {{total | currency: "USD": true: '1.2-2'}}</span>
</md-toolbar>

<a href="/"><button (click)="reset()">Reset Votes</button></a>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Image</th>
      <th>Product</th>
      <th>Category</th>
      <th>Price</th>
      <th>Votes</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let item of shortList; let i = index">
      <td>{{i + 1}}</td>
      <td><a href="https://www.instacart.com/store/items/item_{{item.productID}} " target="_blank"><img src="{{item.img}}" alt=""></a></td>
      <td>{{item.name}}</td>
      <td>{{item.subcategory}}</td>
      <td>{{item.price}}</td>
      <td>{{item.votes}}</td>
      <td>{{item.comments.length}}</td>
    </tr>
  </tbody>
</table>
