<md-toolbar>
  <span>Welcome Admin</span>
</md-toolbar>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Image</th>
      <th>Product</th>
      <th>Votes</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let i = 0; i< 10; i++">
      <td >{{i + 1}}</td>
      <td ><img src="{{productList[i].img}}" alt=""></td>
      <td >{{productList[i].name}}</td>
      <td >{{productList[i].votes}}</td>
      <td >{{productList[i].comments.length}}</td>
    </tr>
  </tbody>
</table>
