<!-- <h1 *ngIf="githubUser">Hello {{githubUser.username}}</h1> -->
<div class="productinfo" *ngIf="product">
<!-- <a href="#" md-dialog-close style="float:right; font-size:25px"><span class="fa fa-times"></span></a> -->
 <md-toolbar>
   {{product?.name}}
 </md-toolbar>
  <div class="left">
    <div class="itemimg">
      <img src="{{product.img}}" alt="">
    </div>
    <br />
    <div class="productdesc">
      <h4>Votes: {{product?.votes}}</h4>
      <h4>Comments: {{product?.comments?.length}}</h4>

    </div>
  </div>
  <div class="right">
    <h3 style="text-align: center" *ngIf="!githubUser">Login to comment</h3>
    <form (submit)="submitComment(commentData)" *ngIf="githubUser">
      <div class="group">
        <input type="text" required name="comment" [(ngModel)]="commentData.comment">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Comment</label>
      </div><br /><br />
      <button [disabled]="!githubUser" MdButton>Submit Comment</button>
    </form>
    <div class="comments">
      <div class="comment" *ngFor="let comment of product.comments">
        <img style="width: 50px; border-radius: 50%" src="{{comment._user?.img}}">
        <div style="display: inline-block; vertical-align: top; margin-left: 10px">
        <p>{{comment._user?.username}} <span>{{comment.createdAt | date: "MMM d h:mm a"}}</span></p>
        </div>
        <p>{{comment.comment}}</p>
        <hr>
      </div>
    </div>
  </div>
</div>
